<section>
    {{#if pedidos}}
    <div class="cardStatics" style="max-width: 540px;">
        <h3 class="mayusculas"></h3>
        <h1 class="titulo">Pedidos pendientes</h1>
        <ul>
    {{#each pedidos}}
            <li class="listaPedidos">
                <form action="/pedidos-pendientes/complete/{{id}}" method="post">
                    <a class="enlaces" href="/pedidos-pendientes/{{id}}">{{id}} | {{id_categoria}} | {{id_editorial}} | {{fecha_pedido}}</a>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success px-4">FINALIZAR</button>
                    </div>
                </form>
            </li>
    {{/each}}
        </ul>
    </div>
    {{else}}
    <div class="noComics">
        <div>
            <p>No hay pedidos disponibles.</p>
            <a class="enlaces" href="/pedidos/add">¡Añade el uno!</a>
        </div>
        <img class="cajaVacia" src="/img/extras/cajaVacia.svg" alt="Caja vacía">
    </div>
    {{/if}}

</section>
